.product{
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttonEdit {
    background-color: #97A663;
    color: #EDF2DB;
}

.buttonDes {
    background-color: rgb(243, 202, 202);
    color: rgb(179, 55, 55);
}