.mainContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70vw;
}

.totalRating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  height: 22px;
  width: 100%;
}

.noReviewsYet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  color: #6a7346;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.totalStar {
  width: 10%;
  height: auto;
}

/* color: #97a663; */
.totalReviews {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2%;
  height: 100%;
  width: 100%;
  font-weight: 700;
  color: #6a7346;
  font-style: italic;
}
