.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 60vw;
  background-color: lightcoral;
}
