.logoLight {
    margin-left: 60px;
    width: 180px; 
}
.container {
    background-color: #97A663;
    width: 100%;
}

.collapsedContent {
    justify-content: center;
    align-items: center;
}

.navContent {
    width: 100%;
    max-width: 800px;
}

.searchField {
    margin-right: 12px;
    border-radius: 0px !important;
    border: 0px solid #B1B5A4 !important;
}

.searchField::placeholder {
    color: #B1B5A4 !important;
}

.searchButton {
    color: #97A663;
    border: 0px;
    margin: 0px;
    padding: 5px 30px;
}

.button-margin {
    margin-left: 10px; 
}

.cart {
    width: auto;
    margin-right: 20px;
}
.profile {
    width: auto;
    margin-right: 80px;
}

  