/* Estilos para el contenedor principal */
  
  /* Estilos para la columna izquierda */
  .leftContent {
    margin: 50px;
    padding: 10px;
  }
  
  .rightContent {
    width: 60vw;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra con valores de desplazamiento, color y opacidad */
  }
  
  /* Estilos para los elementos de nombre y apellido */
  .rowContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .area_chart {
    margin: 35px;
  }
  
.editButton {
  color: #ffffff;
  background-color: #97a663;
  border: 0px;
  margin: 0px;
  padding: 5px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 4px;
}

.cards_stadistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.productstop {
  
  background-color: #97a663;
}

.container_grap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}