/* Estilos para el contenedor principal */
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espacio entre las columnas /
  height: 100vh; / Altura del 100% de la ventana del navegador */
}

/* Estilos para la columna izquierda */
.leftContent {
  margin: 50px;
  padding: 10px;
  width: 30%;
  height: 90%;
}

.rightContent {
  width: 60vw;
  margin: 60px;
  margin-left: -400px;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  width: 1000px; /* Ancho deseado */
  height: 80%; /* Alto deseado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra con valores de desplazamiento, color y opacidad */
}

/* Estilos para los elementos de nombre y apellido */

.area_chart {
  margin: 35px;
}

.editButton {
  color: #ffffff;
  background-color: #97a663;
  border: 0px;
  margin: 0px;
  padding: 5px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 4px;
}

.cards_stadistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.productstop {
  background-color: #97a663;
}

.container_grap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
