/* Navbar.module.css */

.mainContainer {
  background-color: #97a663;
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.container {
  width: 100%; /* Haz que el contenedor ocupe todo el ancho disponible */
  justify-content: space-between;
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #edf2db;
  font-weight: 400;
  font-size: 12pt;
  margin-right: 30px;
  white-space: nowrap;
  margin-top: 35px;
  &:hover {
    color: #ddf391;
  }
}

.logoLight {
  margin-top: 15px;
  margin-left: 40px;
  width: 180px;
  margin-right: 40px;
}

.navContent {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.person {
  color: #edf2db;
  font-weight: 400;
  font-size: 20pt;
  margin-right: 5px;
  margin-bottom: 15px;
  &:hover {
    color: #ddf391;
  }
}

.searchField {
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  background-color: #edf2db;
  color: #333;
  font-weight: 500;
  font-size: 14pt;
}

.searchField::placeholder {
  color: #b1b5a4;
}

.searchButton {
  background-color: #97a663;
  border: none;
  color: #edf2db;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 14pt;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddf391;
    color: #97a663;
  }
}

.space {
  margin-left: 10px;
}
