.columns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.columnLeft {
  margin-top: 60px;
  margin-bottom: 60px;
}

.columnRight {
  padding: 20px;
}

.container {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 617px;
  margin: 40px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.formContainer {
  width: 445px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.form {
  text-align: left;
  transform: translate(-50%, -50%);
}

.button {
  width: 445px;
  margin-left: auto;
  margin-top: 10px;
  background-color: #97a663 !important;
  border: 0px !important;
}

.title {
  margin-top: 20px;
}
