.container {
    height: 300px;
    background-color: #6A7346;
    padding: 0px 100px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container__left {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.container__right {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: 50%;
    justify-content: center;
    padding: 50px 0px;
}

.container_right__detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container_right_detail__payment {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logoLight {
    margin-left:10px;
    width: 180px; 
    margin-bottom: 10px;
}
.subtitle {
    color: #FFFF;
    text-align:start;
    margin-left:10px;
}
.titles {
    color: #97A663;
}

.whiteText {
    color: white;
}

.paymentMethod {
    width: 30px;
    height: 30px;
    background-color: #97A663;
}